/* Site-wide styles. */
:global {
  body {
    /* Fallback color for parts that the gradient does not cover. */
    background-color: var(--turquoise-dark);

    /* Background gradient */
    background-image: var(--background);
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Text */
    color: var(--floral-lighter);
    font-size: 13pt;
    font-family: var(--font-family);
    line-height: var(--line-height);
  }

  h1,
  h2,
  strong {
    color: var(--sand-light);
    font-weight: bold;
  }

  h1, h2, h3 {
    text-shadow: 0.1em 0.1em 0 var(--turquoise-darker);
  }

  a {
    color: var(--sand-lighter);
    transition: color 200ms;
  }

  a:hover {
    color: var(--turquoise-light);
  }
}
