/* 
Prism syntax highlighting theme.

Based on <https://prismjs.com/tokens>.
*/
:global {
  .token {
    &.keyword {
      color: var(--sand-light);
    }

    &.string,
    &.char,
    &.number,
    &.boolean {
      color: var(--sand-lighter);
    }

    &.comment,
    &.punctuation {
      color: var(--floral-light);
    }

    &.attribute {
      color: var(--turquoise-light);
    }
  }
}
