/* Global site variables. */
:global {
  :root {
    /* Colors */
    --sand-lighter: lab(90 21 35);
    --sand-light: lab(80 21 35);
    --sand-dark: lab(60 26 43);
    --sand-darker: lab(40 26 43);

    --turquoise-light: lab(80 -25 10);
    --turquoise-dark: lab(29 -16 1);
    --turquoise-darker: lab(15 -16 1);

    --floral-lighter: lab(90 10 10);
    --floral-light: lab(70 10 10);

    /* Text */
    --font-family: "DM Serif Display", Georgia, serif;
    --line-height: 1.5;

    /* Background */
    --background: linear-gradient(to bottom right, var(--turquoise-dark), var(--turquoise-darker));
  }
}
