@use "sass:color";

$primary: #0c5;
$primary-light: color.adjust($primary, $lightness: -15%, $saturation: 20%);
$primary-dark: color.adjust($primary, $lightness: 50%, $saturation: -30%);

$background-color: #383a39;

$text-color: #e7e7e7;
$text-color-strong: #fff;
$text-color-weak: #b1b1b1;
$text-color-primary: $primary;

$border-radius: 30px;
$border-color: black;

$transition-delay: 200ms;
